<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/xcm6fhs.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title>
</head>
<body>
    
    <div class="div-01-layout">
        <div class="div-01-body">

            <div class="left-div">

                <h1 class="title-01">Get In Touch</h1>

                <label for="name" class="name">Name</label>
                <input type="name" class="name" id="name" placeholder="Enter your name here...">

                <label for="email" class="email">Email</label>
                <input type="email" class="email" id="email" placeholder="Enter your e-mail here...">

                <label for="message" class="message">Message</label>
                <textarea class="message-input" id="message" rows="15"></textarea>

                <button class="sm" onclick="sendMessage()">Send Message</button>
            </div>


            <div class="right-div">
                <img src="/static/IMG/certified.png" alt="">
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>